body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e8f3ff;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #1e90ff;
  padding: 25px;
  border-radius: 25px;
  width: 320px;
}

#display {
  width: 100%;
  height: 70px;
  background: #dff1ff;
  border: none;
  border-radius: 15px;
  font-size: 2.5rem;
  text-align: right;
  padding-right: 15px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  background: #0066ff;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 12px;
  height: 70px;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  background: #0052cc;
}

.operator {
  background: #0073e6;
}

.equals {
  background: #009933;
}

.equals:hover {
  background: #007a29;
}
